# Device rules for 3rd party GMSL2 ISX031 IMX390 and AR0234 camera modules.
# video links for SDK, binding for ipu6
SUBSYSTEM=="video4linux", ATTR{name}=="isx031 *", RUN+="/bin/bash -c '/usr/share/camera/ipu6_max9x_bind.sh -s isx031 -n -q > /dev/kmsg'"
SUBSYSTEM=="video4linux", ATTR{name}=="imx390 *", RUN+="/bin/bash -c '/usr/share/camera/ipu6_max9x_bind.sh -s imx390 -n -q > /dev/kmsg'"
SUBSYSTEM=="video4linux", ATTR{name}=="ar0234 *", RUN+="/bin/bash -c '/usr/share/camera/ipu6_max9x_bind.sh -s ar0234 -n -q > /dev/kmsg'"

# Default max9296 gmsl2 link_freq override for MTL & ARL ipu6 DWC DPHY
# (e.g .used udevadm info -a -p "$(udevadm info -q path -n $(media-ctl -e "imx390 a"))" )
#SUBSYSTEM=="video4linux", ATTR{name}=="imx390 *", ATTRS{device}=="0x7e7*", RUN+="/usr/bin/v4l2-ctl --set-ctrl v4l2_cid_link_freq=1 -d '%E{DEVNAME}'"
#SUBSYSTEM=="video4linux", ATTR{name}=="ar0234 *", ATTRS{device}=="0x7e7*", RUN+="/usr/bin/v4l2-ctl --set-ctrl v4l2_cid_link_freq=1 -d '%E{DEVNAME}'"